body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(145deg, rgba(0, 0, 0, .85) 50%, rgba(0,110,133,.7) 100%), url("/ide-code.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
}


.container {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 81, 133, 123, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    max-width: 80%;
    margin: 40px auto;
    padding: 60px;
}

h1, h2 {
    color: #ffffff;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}



button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 7px;
}



#increment-btn {
    background-image: linear-gradient(125deg, #0575E6 0%, #021B79  51%, #0575E6  100%);
    color: #ffffff;
    margin: 10px;
    padding: 15px 45px;
    transition: 0.5s;
    background-size: 200% auto;

}

#increment-btn:hover {
    background-position: right center;
    color: #fff;
}

#save-btn {
    background-image: linear-gradient(125deg, #00bf8f 0%,  #014231  51%, #00bf8f  100%);
    color: #ffffff;
    margin: 10px;
    padding: 15px 45px;
    transition: 0.5s;
    background-size: 200% auto;
}

#save-btn:hover {
    background-position: right center;

}

#save-el {
    color: #ffffff;
}
